/*Colors*/
/*End of Colors*/
.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:hover, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover {
  z-index: 0; }

body {
  background-color: #fff;
  text-align: center;
  color: #333;
  padding-bottom: 20px; }

h1 {
  text-transform: uppercase;
  color: #7d7d7d;
  font-size: 22px; }

#credit-rating {
  width: 100%; }
  #credit-rating button {
    background-color: #7d7d7d;
    color: white;
    text-transform: capitalize;
    width: 20%; }
    #credit-rating button.active {
      background-color: #039be5;
      color: #fff; }
    #credit-rating button:focus {
      outline: none; }

.label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
  width: 200px; }

.summary {
  font-size: 24px;
  line-height: 28px;
  padding: 20px 0;
  border-bottom: 1px solid #d5d5d5; }
  .summary span {
    color: black; }

.ui-slider-range {
  background: #7d7d7d; }

.ui-slider-handle {
  background: #039be5 !important;
  border: none !important; }
  .ui-slider-handle:focus {
    outline: none; }

.section {
  padding: 20px 0;
  border-bottom: 1px solid #d5d5d5; }

.section-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px; }

.btn {
  border-radius: 0;
  padding: 12px 24px; }

.title-container {
  background-color: #64b9e2; }
  .title-container h1 {
    margin: 0;
    height: 50px;
    line-height: 50px;
    color: #fff; }

#credit-rating .btn {
  background-color: #c3c3c3;
  border-width: 0;
  letter-spacing: 1px;
  color: #333; }
  @media (max-width: 510px) {
    #credit-rating .btn {
      font-size: 11px;
      padding-left: 5px;
      padding-right: 5px; } }

#credit-rating .btn + .btn {
  border-left-width: 3px;
  border-color: #fff; }
  #credit-rating .btn + .btn:hover {
    border-left-width: 3px;
    border-color: #fff; }

#credit-amount-slider, #credit-length-slider {
  border-radius: 0 !important;
  height: 25px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px; }

.ui-corner-all {
  border-radius: 0 !important; }

.ui-slider .ui-slider-handle {
  width: 2.5em;
  height: 2.4em;
  top: -0.45em;
  border-radius: 10px !important; }
  .ui-slider .ui-slider-handle:before, .ui-slider .ui-slider-handle:after {
    display: inline-block;
    content: "";
    width: 5px;
    height: 20px;
    background-color: #fff;
    position: absolute; }
  .ui-slider .ui-slider-handle:before {
    left: 22px;
    top: 9px; }
  .ui-slider .ui-slider-handle:after {
    top: 9px;
    left: 11px; }

.credit-amount.btn, .credit-length.btn, .monthly-payment.btn {
  background-color: #fff;
  color: #666;
  border: 2px solid #c3c3c3;
  display: inline-block; }

.summary h3 {
  margin-top: 20px;
  text-align: right; }

.btn.monthly-payment {
  border-color: #039be5;
  color: #333; }

.slider-container {
  position: relative; }

.slider-container .control {
  display: inline-block;
  position: absolute;
  color: #64b9e2;
  font-size: 30px;
  top: -12px;
  cursor: pointer; }
.slider-container .control-left {
  left: 0; }
.slider-container .control-right {
  right: 0px; }

.control:hover {
  text-decoration: none; }

.credit-slider .col-lg-4, .credit-length-slider .col-lg-4, .summary .col-lg-4 {
  text-align: right; }

.note {
  letter-spacing: 0.5px;
  margin-top: 20px;
  text-align: left;
  font-size: 12px;
  color: #555;
  margin-left: 25px; }

.sign-mark {
  position: absolute;
  right: 65px;
  top: 27px;
  font-weight: bold;
  color: #666;
  font-size: 16px; }

.sign-mark.dollar {
  right: 160px;
  font-size: 20px;
  top: 22px; }

.credit-length.btn {
  padding-right: 111px; }

.credit-amount.btn {
  padding-left: 60px;
  text-align: left; }

.credit-length.btn {
  padding-left: 40px;
  text-align: left; }

@media (max-width: 1199px) {
  .sm-padding {
    padding-right: 65px; }

  .sign-mark.dollar {
    right: 206px; }

  .sign-mark {
    right: 115px; } }

/*# sourceMappingURL=style.css.map */
