/*Colors*/
$main_color: #039be5;
$inactive-color: #7d7d7d;
$red: #b5151b;
/*End of Colors*/


.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {z-index: 0};
body{
  background-color:#fff;
  text-align: center;
  color: #333;
  padding-bottom: 20px;
}

h1{
  text-transform: uppercase;
  color:$inactive-color;
  font-size: 22px;
}

#credit-rating{
  width:100%;

  button{
    background-color: $inactive-color;
    color:white;
    text-transform: capitalize;
    width:20%;

    &.active{
      background-color: $main_color;
      color: #fff;
    }

    &:focus{
      outline:none;
    }

  }
}

.label{
  display: block;
  font-weight:bold;
  font-size: 20px;
  margin:10px auto;
  width:200px;
}

.summary{
  font-size:24px;
  line-height: 28px;
  // color:$inactive-color;
  padding:20px 0;
  border-bottom: 1px solid #d5d5d5;

  span{
    color:black;
  }
}

//Slider
.ui-slider-range{
  background: $inactive-color;
}

.ui-slider-handle{
  background: $main_color !important;
  border:none !important;

  &:focus{
    outline:none;
  }
}

//Section
.section{
  padding: 20px 0;
  border-bottom:1px solid #d5d5d5;
}

.section-title{
  text-align:left;
  margin-top:0;
  margin-bottom: 10px;
  font-size: 18px;
}



//alvin styles

.btn{
  border-radius: 0;
  padding: 12px 24px;
}

.title-container{
    
    background-color: #64b9e2;
    h1{
    margin: 0;
    height: 50px;
    line-height: 50px;
    color: #fff;
  }
}

#credit-rating .btn{
  background-color: #c3c3c3;
    border-width: 0;
    letter-spacing: 1px;
    color: #333;

    @media (max-width: 510px){
      font-size: 11px;
      padding-left: 5px;
      padding-right: 5px;
    }
}

#credit-rating .btn + .btn{
  border-left-width: 3px;
  border-color: #fff;

  &:hover{
      border-left-width: 3px;
  border-color: #fff; 
  }
}

#credit-amount-slider, #credit-length-slider{
  border-radius: 0 !important;
  height: 25px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.ui-corner-all{
  border-radius: 0 !important;
}

.ui-slider .ui-slider-handle{
  width: 2.5em;
  height: 2.4em;
  top: -0.45em;
  border-radius: 10px !important;

  &:before, &:after{

    display: inline-block;
    content: "";
    width: 5px;
    height: 20px;
    background-color: #fff;
    position: absolute;
  }

  &:before{
    left: 22px;
    top: 9px;
  }

  &:after{
    top: 9px;
    left: 11px;
  }
}

.credit-amount.btn, .credit-length.btn, .monthly-payment.btn{
  background-color: #fff;
  color: #666;
  border: 2px solid #c3c3c3;
  display: inline-block;

}

.summary h3{
  margin-top: 20px;
  text-align: right;
}

.btn.monthly-payment{
  border-color: #039be5;
  color: #333;
}

.slider-container{
  position: relative;
}

.slider-container{


  .control{
    display: inline-block;
    position: absolute;
    color: #64b9e2;
    font-size: 30px;
    top: -12px;
    cursor: pointer;
  }

  .control-left{
    left: 0;

  }

  .control-right{
    right: 0px;
  }
}

.control:hover{
  text-decoration: none;
}
.credit-slider, .credit-length-slider, .summary {
  .col-lg-4{
    text-align: right;
  }
}

.note{
  letter-spacing: 0.5px;
  margin-top: 20px;
  text-align: left;
  font-size: 12px;
  color: #555;
  margin-left: 25px;
}


.sign-mark{
  position: absolute;
  right: 65px;
  top: 27px;
  font-weight: bold;
  color: #666;
  font-size: 16px;
}

.sign-mark.dollar{
  right: 160px;
  font-size: 20px;
  top: 22px;
}

.credit-length.btn{
  padding-right: 111px;
}

.credit-amount.btn{
  padding-left: 60px;
  text-align: left;
}

.credit-length.btn{
  padding-left: 40px;
  text-align: left;
}

@media (max-width: 1199px){
  .sm-padding{
    padding-right: 65px;
  }

  .sign-mark.dollar{
    right: 206px;
  } 

  .sign-mark{
    right: 115px;
  }

}